@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  padding-bottom: 100px;
  background-image: url("./image/background.png");
  background-size: contain;
  background-repeat: no-repeat;
}

p.section {
  color: #32b2d6;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 50px;
  margin: 15px auto 0px auto;
}

/* HEADER */
.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 60px;
}

.navbar ul {
  margin-right: 5px;
}

.navbar ul li {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  font-size: 17px;
  transition: 1s;
}

.active {
  background-color: white;
  border-radius: 4px;
}

.active a {
  color: rgba(0, 0, 0, 0.863);
}

.navbar a {
  text-decoration: none;
  transition: color 0.4s;
}

.navbar li:hover {
  color: #333;
}

.navbar a.home-logo {
  color: white;
}

.navbar div a i {
  font-size: 35px;
  margin: 9px 9px 0 9px;
}

.header-icon-container {
  background-color: #a4cdd8;
}

/* HOME */
.title {
  position: absolute;
  top: 60px;
  left: 50px;
  color: rgba(0, 0, 0, 0);
  font-size: 65px;
  margin: 20px 0 0 60px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.title::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: attr(data-text);
  border-right: 2px solid #006784;
  overflow: hidden;
  width: 0;
  height: 100%;
  color: #006784;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.image-title-container {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}

.home-title-container {
  width: 65vw;
}

.home-title-container p:nth-child(1) {
  color: #326978;
  font-size: 45px;
  font-weight: bolder;
  letter-spacing: 7px;
}

.home-title-container p:nth-child(2) {
  color: #326978;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
}

#my_image {
  margin: 0px 10px 30px 0px;
  background-image: url("./image/image.png");
  background-size: cover;
  background-size: 24vw;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 24vw;
  height: 24vw;
}

#home img {
  width: 200px;
}

/* CONTENT */
.content {
  padding-top: 50px;
}

/* CONTACT */
#contact {
  margin-bottom: 100px;
  min-height: 400px;
}

.contact-container {
  text-align: center;
  font-size: larger;
  color: #56b9d4;
}

/* SKILLS */
.skills-container {
  display: flex;
  justify-content: space-around;
}

.skill-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-section p {
  color: #16586b;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
  font-weight: bolder;
}

#frontend-image {
  width: 110%;
  margin-top: 25px;
}

#backend-image {
  width: 50%;
}

#database-image {
  width: 55%;
  margin-top: 30px;
}

/* PROJECTS */
#projects {
  min-height: 500px;
}

.flip-card-container {
  display: flex;
  justify-content: space-evenly;
}

.flip-card {
  position: relative;
  width: 300px;
  height: 350px;
  transform-style: preserve-3d;
}

.flip-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: 1.5s ease-in-out;
  transform: perspective(500px) rotateY(0deg);
}

.flip-front {
  display: flex;
  flex-direction: column;
}

.flip-card:hover .flip-front {
  transform: perspective(500px) rotateY(180deg);
}

.flip-back {
  background-color: white;
  transform: perspective(500px) rotateY(180deg);
}

.flip-card:hover .flip-back {
  transform: perspective(500px) rotateY(360deg);
}

.flip-card p {
  text-transform: uppercase;
  transform: perspective(500px) translateZ(50px);
  color: #16586b;
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
}

.flip-card img {
  width: 150px;
}

/* FOOTER */
.footer {
  background-color: #a4cdd8;
  color: white;
  height: 140px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer p {
  padding: 5px;
  text-align: center;
  font-size: 12px;
}

.footer i {
  font-size: 35px;
  text-align: center;
  margin-left: 3px;
  cursor: pointer;
}

.icon-container {
  margin: 40px 0 0 30px;
}
