@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  padding-bottom: 100px;
  background-image: url("./image/background.png");
  background-size: contain;
  background-repeat: no-repeat;
}

p.section {
  color: #32b2d6;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 50px;
  margin: 15px auto 0px auto;
}

/* HEADER */
.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 60px;
}

.navbar ul {
  margin-right: 5px;
}

.navbar ul li {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  font-size: 17px;
  transition: 1s;
}

.active {
  background-color: white;
  border-radius: 4px;
}

.active a {
  color: rgba(0, 0, 0, 0.863);
}

.navbar a {
  text-decoration: none;
  transition: color 0.4s;
}

.navbar li:hover {
  color: #333;
}

.navbar a.home-logo {
  color: white;
}

.navbar div a i {
  font-size: 35px;
  margin: 9px 9px 0 9px;
}

#hamburger-menu {
  display: none;
  font-size: 40px;
  color: #dbe3e6;
  margin-right: 15px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

#hamburger-menu a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: none;
}

a.icon {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}

a.icon i {
  font-size: 30px;
  color: white;
}

/* HOME */
.title {
  position: absolute;
  top: 60px;
  left: 50px;
  color: rgba(0, 0, 0, 0);
  font-size: 65px;
  margin: 20px 0 0 60px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.title::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: attr(data-text);
  border-right: 2px solid #006784;
  overflow: hidden;
  width: 0;
  height: 100%;
  color: #006784;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.image-title-container {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}

.home-title-container {
  width: 65vw;
}

.home-title-container p:nth-child(1) {
  color: #326978;
  font-size: 45px;
  font-weight: bolder;
  letter-spacing: 7px;
}

.home-title-container p:nth-child(2) {
  color: #326978;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
}

#my_image {
  margin: 0px 10px 30px 0px;
  background-image: url("./image/image.png");
  background-size: cover;
  background-size: 24vw;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 24vw;
  height: 24vw;
}

#home img {
  width: 200px;
}

/* CONTENT */
.content {
  padding-top: 50px;
}

/* CONTACT */
#contact {
  margin-bottom: 100px;
  min-height: 400px;
}

.contact-container {
  text-align: center;
  font-size: larger;
  color: #56b9d4;
}

/* SKILLS */

#skills hr {
  margin-bottom: 0;
}

.slide-container {
  width: 100%;
  min-height: 85vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: white;
}

.image-slider {
  width: 100%;
  min-height: 600px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 220px;
  transition: 0.7s;
}

.slide-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px 0 30px;
}

.slide-img {
  position: relative;
  width: 240px;
  height: 320px;
  transition: 0.5s;
  filter: saturate(60%);
}

.slider-button {
  position: absolute;
  width: 240px;
  height: 320px;
  transition: 0.5s;
}

.slider-button:hover {
  background-color: rgba(199, 199, 199, 0.1);
}

#slider-span-1:target ~ .image-slider #slide-img-1,
#slider-span-1:target ~ .image-slider #slider-button-1 {
  width: 380px;
  height: 400px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span-2:target ~ .image-slider #slide-img-2,
#slider-span-2:target ~ .image-slider #slider-button-2 {
  width: 380px;
  height: 400px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span-3:target ~ .image-slider #slide-img-3,
#slider-span-3:target ~ .image-slider #slider-button-3 {
  width: 380px;
  height: 400px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span-4:target ~ .image-slider #slide-img-4,
#slider-span-4:target ~ .image-slider #slider-button-4 {
  width: 380px;
  height: 400px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span-5:target ~ .image-slider #slide-img-5,
#slider-span-5:target ~ .image-slider #slider-button-5 {
  width: 380px;
  height: 400px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span-6:target ~ .image-slider #slide-img-6,
#slider-span-6:target ~ .image-slider #slider-button-6 {
  width: 380px;
  height: 400px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span-7:target ~ .image-slider #slide-img-7,
#slider-span-7:target ~ .image-slider #slider-button-7 {
  width: 380px;
  height: 400px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span-1:target ~ .image-slider {
  left: 70%;
}
#slider-span-2:target ~ .image-slider {
  left: 50%;
}
#slider-span-3:target ~ .image-slider {
  left: 25%;
}
#slider-span-5:target ~ .image-slider {
  left: -25%;
}
#slider-span-6:target ~ .image-slider {
  left: -50%;
}
#slider-span-7:target ~ .image-slider {
  left: -75%;
}

#slider-span-1,
#slider-span-2,
#slider-span-3,
#slider-span-4,
#slider-span-5,
#slider-span-6,
#slider-span-7 {
  scroll-margin-top: 450px;
  scroll-margin-bottom: -240px;
}

/* PROJECTS */
#projects {
  min-height: 500px;
}

.flip-card-container {
  display: flex;
  justify-content: space-evenly;
}

.flip-card {
  position: relative;
  width: 300px;
  height: 350px;
  transform-style: preserve-3d;
}

.flip-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: 1.5s ease-in-out;
  transform: perspective(500px) rotateY(0deg);
  background-color: white;
}

.flip-front {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card:hover .flip-front {
  transform: perspective(500px) rotateY(180deg);
}

.flip-back {
  background-color: white;
  transform: perspective(500px) rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flip-back p {
  font-size: 12px !important;
}

.flip-back ul {
  list-style-type: none;
  color: #197892;
  padding: 0;
}

.flip-card:hover .flip-back {
  transform: perspective(500px) rotateY(360deg);
}

.flip-card p {
  text-transform: uppercase;
  transform: perspective(500px) translateZ(50px);
  color: #16586b;
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
}

.flip-card img {
  height: 150px;
  width: auto;
}

/* ABOUT */
#about {
  min-height: 500px;
}
#about-context {
  text-align: left;
  font-size: 23px;
  color: #006784;
  margin: 45px 60px 0 60px;
}

.about-container {
  display: flex;
  justify-content: center;
}

.about-container img {
  width: 35%;
  height: 30%;
}

/* FOOTER */
.footer {
  background-color: #a4cdd8;
  color: white;
  height: 140px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer p {
  padding: 5px;
  text-align: center;
  font-size: 12px;
}

.footer i {
  font-size: 35px;
  text-align: center;
  margin-left: 3px;
  cursor: pointer;
}

.icon-container {
  margin: 40px 0 0 30px;
}

@media screen and (max-width: 750px) {
  .navbar-links {
    display: none;
  }

  .hamburger-menu-container {
    display: block;
  }

  .header-icon-container {
    visibility: hidden;
  }

  a.icon,
  #hamburger-menu a {
    display: block;
  }

  .navbar {
    justify-content: flex-start;
  }

  .title {
    display: none;
  }

  .image-title-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  .home-title-container p:first-child {
    font-size: 30px;
    width: 100%;
    margin-top: 0;
  }

  #my_image {
    width: 200px;
    height: 200px;
    background-size: 200px;
  }

  .image-slider {
    display: block;
  }

  .slide-div {
    display: block;
  }

  .image-slider {
    position: relative;
    text-align: center;
    margin-top: 0;
  }

  .flip-card-container {
    flex-direction: column;
    align-items: center;
  }

  #projects hr {
    margin-top: 0;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-container img {
    display: none;
  }

  #about-context {
    text-align: center;
    margin-top: 0;
    font-size: 20px;
  }
}

@media screen and (max-width: 570px) {
  .home-title-container p:first-child {
    font-size: 25px;
  }

  .home-title-container p:nth-child(2) {
    font-size: 17px;
  }

  #my_image {
    width: 200px;
    height: 200px;
    background-size: 200px;
  }
}
